
/*=============================
    Modal Window Styles
=============================*/
.modal {
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
    display: inline-block;
    padding: 1em;
}

@media (min-width: 43:75em) {
    .modal {
        padding: 1.5em;
    }
}

.modal > label {
    background: #FFD300;
    border: 1px solid #f0c600;
    border-radius: .2em;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1.5em;
    text-shadow: 1px 1px 1px #fff;
    transition: all 0.55s;
}